@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Roboto:ital@0;1&family=Square+Peg&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color{
    background-color: #f7bd94;
}
.damilola{
    display: flex;
    padding-top: 20px;
    
}
.bg-image{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
};
ul{
    margin-left: 100px;
    display: flex;


}
.logo{
    margin-right: 100px;
}
li{
    margin-right: 60px;
    text-decoration: none;
    font-family: 'Akshar', sans-serif;
    
}
.lanre{
    color: red;
    text-transform: uppercase;
}
.logo h1{
    text-transform: uppercase;
    border: 3px dashed black;
}
.div-body{
    display: flex;
    justify-content: space-between;
}
.div-test{
    padding-top: 200px;
    font-weight: 600;
}
.div-text h1{
    font-size: 60px;
    line-height: 40px;
    text-transform: capitalize;

}
.div-text button{
    background: red;
    border: none;
    padding: 5px 40px;
    border-radius: 50px;
    content: #fff;
}
.div-text button:hover{
    background-color: yellow;
    padding: 50px;
    transition: .9s;
    color: red;
}
.div-image img{
    padding-top: 40px;
}
button{
background-color: red;
border-radius: 100px;
}
.lekan{
    margin: 20px;
    background-color: red;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
}
.ayo{
    margin: 20px;
    background-color: blue;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    margin-left: 200px;
    padding-top: 80px;
    position: absolute;
}
.ola{
    margin: 20px;
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 80px;
}
.colors{
    display: flex;
}


ul{
    display: block;
    margin-left: 200px;

}
h2{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Square Peg', cursive;
}
.blog p::first-letter{
font-size: 50px;
}
.blog1 p::first-line{
    /* font-size:50px; */
    font-family: 'Square Peg', cursive;
}
#section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#section{
    margin: 20px;
}
.paragraphy{
    display: grid;
    grid-template-columns: auto auto auto;
}
.move{
    background: green;
    width: 150px;
    height: 150px;
    animation: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%{
        background: green;
    }
    25%{
        background: red;
    }
    50%{
        background: yellow;
    }
    75%{
        background: blue;
    }
    
        100%{
            background: pink;
        }
    }
    .nature{
        max-width: 100%;
        height: auto;
        
    
    }






    

    

    
